* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9f5fb;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #222;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-container {
    width: 100%;
    max-width: 45%;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #0078d7;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

.result-container {
    width: 100%;
    max-width: 50%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.result-container h2 {
    color: #0078d7;
    font-size: 1.4em;
    margin-top: 0;
}

.card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #0078d7;
}

.result-segment h4 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
}
